$font-size: 1rem;
$font-color: black;

html {
  font-size: $font-size;
  color: $font-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body,
.modeler {
  height: 100%;
}

.modeler {
  display: flex;
}

.canvas {
  flex: 1 0 0;
}

.properties {
  flex: 0 0 500px;
  border-left: 1px solid gray;
}
