$font-size: 1rem;
$font-color: black;

html {
  font-size: $font-size;
  color: $font-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
