$font-size: 1rem;
$font-color: black;

html {
  font-size: $font-size;
  color: $font-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body,
.modeler {
  height: 100%;
}

.modeler {
  display: flex;
  flex-direction: column;
}

.top-block {
  display: flex;
  flex: 1 0 0;
}

.bottom-panel {
  flex: 0 0 100px;
  background-color: gray;
  padding: 30px 80px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  button {
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
}

.canvas {
  flex: 1 0 0;
}

.properties {
  flex: 0 0 400px;
  border-left: 1px solid gray;
}

.bpmn-icon-task.red {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    display: none;
  }

  img {
    height: 26px;
    width: 26px;
  }

  &:hover img {
    outline: 1px solid hsl(205, 100%, 45%);
    border-radius: 4px;
  }
}
